html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Helvetica', 'Verdana', sans-serif;
  font-weight: 400;
  font-display: optional;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  overflow: hidden; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  background: "gray" }

input, label, select {
    font-size: large;
}
.header {
  width: 100%;
  height: 32px;
  color: white;
  background: black;
  position: fixed;
  font-size: 20px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 10px 10px 0 20px;
  will-change: transform;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s, -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  z-index: 1000;
  }
  .header .headerButton {
    width: 24px;
    height: 24px;
	margin-left: 10px;
    margin-right: 24px;
    overflow: hidden;
    opacity: 1;
	float: right;
    -webkit-transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    border: 1px yellow;
    outline: 1px yellow;
    cursor: pointer;
 }
  .header #buttonStartStop{
    background: url(goButton24px.svg) center center no-repeat;
 }
.header__title {
  font-weight: 400;
  font-size: 1em;
  margin: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.round-button {
	display: block;
	position: fixed;
	width: 40px;
	height: 40px;
	border: 0px solid #222;
	border-radius: 50%;
	background: #222;
	box-shadow: 0,0,3px,gray;
	z-index: 50;
}

.round-button img {
	display: block;
	width: 24px;
	height: 24px;
	padding: 8px;
}

#wpButton {
	left: 20px;
	bottom: 20px;
}

#actionButton {
	right: 20px;
	bottom: 20px;
}

.tile {
	position: absolute;
	width: 375px;
	height: 675px;
}

#map {
	position: absolute;
	top: 0;
    left: 0;
    width: 2250px;
	height: 4050px;
    z-index: 1;
    background-color: silver;
}
#mapOverlay {
    position: absolute;
	left: 0;
	top: 0;
    width: 100%;
	height: 100%;
    z-index: 2;
}



